
.container {
    display: flex;
    align-items : center;
    width: 100%;
    height: 100%;
    margin-top: 321px;
    margin-left: 500px;
    
}   
.btn-primary{
    margin: 40px;
}

.btn-secondary{
    margin: 40px;
}

.text{
    margin-left: 700px;
    margin-top: 321px;
}